@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*  <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 900

.source-code pro-<uniquifier> {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body{
    display: flex;
    flex-direction:column;
    font-family: "Source Code Pro", monospace;
    min-height: 100vh;
    margin:0;
    width: 100%;
    box-sizing: border-box;
    
}

html{
    background-color: rgb(0, 0,0);
    height: 100vh;
}

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

/* -----------------<Barra superior Navegacion>---------------------*/
nav a:hover{
    font-weight: bold;
}

#navegacion{
    min-height: 5rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    background-image: url(/Imagenes/Codigo-Caja-Citas\ -\ copia.png);
    background-position: center;
    background-size: cover;
}
.panel-navegacion{
    font-family: "Source Code Pro", monospace;
    background-color:rgb(235, 240, 238); 
    display: flex;
    height: 5vh;
    font-size: 1em;
    justify-content: space-around;
    align-items: center;
    
}

#marca-personal > h1{
    font-weight: bold;
    color:honeydew;
    font-size: 3rem;
}

/*--------------------Seccion de Citas Aleatorias ------------------*/
#citas-aleatorias{
    box-sizing:border-box;
    width: 100%;
    display: flex;
    min-height: 200px;
    flex-direction: column;
    background-color: black;
}

#contenedor-interno {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 120px;
    width: 90%;
    background-color: rgb(235, 240, 238);
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
}
.contenido-centrado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#boton-cambiar-cita{
    display: flex;
    justify-content: center;
    align-items: end;
}

.btn-primary{
color: aliceblue;
font-weight: bold;
font-size: 1rem;
font-family: monospace;
box-sizing: border-box;
background-color:cadetblue;
display: flex;
place-items: center;
padding: 10px;
margin: 10px;
border-radius: 5px;
}

.btn-primary:active{
    background-color:rgb(14, 75, 42);
    color:darkgray;
}

.btn-primary:hover{
    border-color: darkgoldenrod;

}

#cita {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-size: 1.2rem;

}
#autor {
    display: flex;
    font-style: italic;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
/*---------------seccion informacion personal quien soy--------------- */
#mi-info{
    box-sizing: border-box;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
#foto{
    display: flex;
    box-sizing: border-box;
    padding:5px;
    margin: 5px;
    border-color: black;
    width: 220px;
    height: 220px;
    background-color: rgb(33, 143, 206);
    border-radius: 5px;    
}
#foto>img{
    display: flex;
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 5px; 
}

.informacion{
    display: flex;

}
#mi-info-text{
    margin: 20px;
    color: aliceblue;
}
#mi-info-text > h2{
    font-weight: bold;
    font-size:3rem;
}

#mi-info-text > p {
    font-size: 2em;
}

/* ----------------------habilidades -------------------------*/
#skills-info{
    color: white;
}


#informacion-skills{
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px;
    justify-content:space-between;
}

#mis-skills{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.informacion-imagen{
    height: 100px;
    color: beige;
}

/* ----------------------Footer -------------------------*/
footer{
    background-color: rgb(194, 202, 200);
    display:flex ;
    margin-top: auto;
    align-items: center;
    flex-direction: column;
    font-size:large;
    font-weight: bold;
}
#mi-contacto{
    width: 100%;
}


#mi-contacto ul{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.copyright-nombre{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
